.ScoreCategory {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
}

.rowNameContainer {
    width: 6.5em;
    margin: 5px 0 0 0;
}

.rowName {
    margin: 0;
    font-size: 25px;
}

.button {
    height: 2em;
    width: 4em;
    align-self: flex-end;
}

.buttonDisabled {
    height: 2em;
    width: 4em;
    align-self: flex-end;
    pointer-events: none;
}

.button:hover {
    background-color: #dddbdb;
    
}

.button:disabled {
    cursor: not-allowed
}

button:disabled,
button[disabled]{
    cursor: not-allowed
}