.ScoreCategory {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
}

.rowNameContainer {
    width: 6.5em;
    margin: 5px 0 0 0;
}

.rowName {
    margin: 0;
    font-size: 25px;
}

.button {
    height: 2em;
    width: 4em;
}

.button:hover {
    background-color: lightgrey;
    border: none;
}

.button:disabled {
    cursor: not-allowed
}